@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


html {
    background-image: url(../images/background-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*,
*::before,
*::after {
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
    max-width: calc(1210px + 30px);
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    padding: 18px 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
}

.header__logo:hover {
    color: #01813F;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item+.header__item {
    padding-left: 27px;
}

.header__item:last-child {
    padding-right: 25px;
}

.header__signup {
    display: inline-flex;
    align-items: center;
    height: 22px;
    padding-left: 27px;
    color: #FFF;
    font-size: 14px;
    line-height: 14px;
    border-left: 1px solid rgba(255, 255, 255, .5)
}

.header__link {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
}

.header__svg1:hover path,
.header__link:hover,
.button__dialog:hover {
    color: #01813F;
    fill: #01813F;
    transition: all 0.3s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
}

svg:hover {
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
}

@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
    }
}

@-moz-keyframes swing {
    20% {
        -moz-transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -moz-transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -moz-transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -moz-transform: rotate3d(0, 0, 1, -5deg);
    }

    100% {
        -moz-transform: rotate3d(0, 0, 1, 0deg);
    }
}

@-o-keyframes swing {
    20% {
        -o-transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -o-transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -o-transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -o-transform: rotate3d(0, 0, 1, -5deg);
    }

    100% {
        -o-transform: rotate3d(0, 0, 1, 0deg);
    }
}


@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}


main {
    position: relative;
}

.dialog {
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    height: fit-content;
    width: 444px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 35px 60px;
}

.signup {
    height: 100%;
}

.signup__wrapp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.signup__wrapp::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;
    background-color: #3CB878;
}

.signup__span {
    display: block;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
    text-decoration: underline;
}



.signup__wrapp-link:hover .signup__span {
    text-decoration: none;
    color: #434343;
    transform: scale(1.2);
    transition: all 0.3s;
}

.btn__facebook span,
.btn__google span {
    display: block;
    text-align: center;
    padding: 16px 22px 16px 67px;
}

.btn__facebook,
.btn__google {
    border-radius: 4px;
    display: inline-block;
    width: 160px;
    height: 48px;
    color: #FFF;
    font-size: 16px;
    line-height: 16px;
}

.btn__facebook {
    text-align: center;
    background-color: #305DB8;
    position: relative;
}

.btn__facebook::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 10px;
    bottom: auto;
    right: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: url('../images/facebook.png');
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn__facebook::after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background: #0A162F;
    position: absolute;
    top: 50%;
    left: 42px;
    bottom: auto;
    right: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.btn__google {
    background-color: #DF4A32;
    position: relative;
}

.btn__google::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 10px;
    bottom: auto;
    right: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: url('../images/google.png');
    width: 30px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn__google::after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    opacity: 0.1;
    background: #2B0D09;
    position: absolute;
    top: 50%;
    left: 50px;
    bottom: auto;
    right: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

fieldset {
    border: none;
}

.signup__text {
    display: block;
    margin: 31px 0px 12px;
    color: #848484;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    position: relative;
}

.signup__text::before {
    content: "";
    display: block;
    width: 141px;
    height: 1px;
    background: #F2F2F2;
    color: #F2F2F2;
    position: absolute;
    top: 9px;
}

.signup__text::after {
    content: "";
    display: block;
    width: 141px;
    height: 1px;
    background: #F2F2F2;
    color: #F2F2F2;
    position: absolute;
    right: 0;
    top: 9px;
}

.signup__input {
    padding: 16px 20px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
}

.signup__input:focus {
    outline: none;
    border: transparent;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);

}

.signup__input::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hidden-checkbox {
    visibility: hidden;
    width: 20px;
}

.custom-checkbox .checkbox {
    margin-right: 10px;
}

.custom-checkbox input {
    -webkit-appearance: none;
    position: absolute;
}

.checkbox {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    display: none;
}

.custom-checkbox input:checked~.checkbox .checkmark {
    display: block;
}

.signup__checbox-link {
    color: #3CB878;
}

.signup__checbox-link:hover{
    text-decoration: underline;
}

.create__btn {
    color: #fff;
    width: 100%;
    height: 46px;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    text-align: center;
}